[submodule "src/FMS"]
	path = src/FMS
	url = https://github.com/NOAA-GFDL/FMS
[submodule "src/MOM6"]
	path = src/MOM6
	url = https://github.com/NOAA-GFDL/MOM6
[submodule "src/mkmf"]
	path = src/mkmf
	url = https://github.com/NOAA-GFDL/mkmf
